:root {
  --lg-prp: linear-gradient(0deg, #640aa0, #961ee7);
  --lg-prp-2: linear-gradient(0deg, #450870, #500a80);
  --lg-prp-3: linear-gradient(0deg, #640aa0aa, #961ee7aa);
  --lg-perfil: linear-gradient(0deg, #00e6e699, #eeeeeedd);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #eeeeee;
  background: linear-gradient(135deg, #0a0412, #961ee7);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
p,
a,
li,
figcaption {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover,
summary:hover {
  cursor: pointer;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
  margin: 0;
}
li a {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

summary {
  list-style: none;
  text-transform: capitalize;
}

.navegacao-primaria a:hover,
.navegacao-primaria a:visited:hover,
.socials li:nth-child(odd) img:hover,
.socials li:nth-child(even) img:hover,
#panel li img:hover,
#panel li:hover:before,
::-webkit-scrollbar-thumb:hover,
.agradecimentos:hover,
.logo:hover {
  transition: 0.25s;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid #eeeeee;
}
.logo:hover {
  color: #961ee7;
  border-color: #961ee7;
  box-shadow: 0 0 5px 2px #eeeeee;
}

.backplate {
  display: grid;
  padding: 1rem;
}
header.backplate {
  padding-top: 2rem;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.c-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rev {
  flex-wrap: nowrap;
}

.navegacao-primaria a {
  border-radius: 1rem 0.1rem 1rem 0.1rem;
  padding: 1rem 1.4rem;
  background: var(--lg-prp);
  box-shadow: 0 0 0 2px #eeeeee;
  text-transform: capitalize;
}
.navegacao-primaria a:hover {
  background: var(--lg-prp-3);
  color: #ffffff;
  box-shadow: 0 0 0 2px #eeeeee88;
}
.navegacao-primaria a:visited {
  color: #bbbbbb;
}
.navegacao-primaria a:visited:hover {
  color: #ffffff;
}

main {
  min-height: calc(100vh - 8rem);
  max-height: calc(120vh - 8rem);
}
main .container {
  margin: 2rem auto;
}

.info {
  max-width: 50%;
}
.info h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
}
.info p {
  margin-top: 1rem;
  max-width: 50ch;
  font-size: 1.4rem;
}

.perfil-container {
  margin: 0 auto;
}

.perfil {
  border-radius: 50%;
  background: var(--lg-perfil);
  border: 2px solid #eeeeee;
}

.caption {
  text-align: center;
}

.socials {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.socials img {
  border-radius: 50%;
  height: 3rem;
}
.socials li:nth-child(odd) img:hover {
  box-shadow: 0 0 0 2px #aaaaaa;
  transform: scale(1.2);
}
.socials li:nth-child(even) img:hover {
  box-shadow: 0 0 0 2px #c16bff;
  transform: scale(1.2);
}

#projetos {
  padding-bottom: 2rem;
}
.projetos-titulo {
  background: var(--lg-prp);
  margin: 3rem auto;
  padding: 1.4rem 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
}
#projetos img {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-radius: 1rem;
}
#panel li {
  position: relative;
  height: 410px;
  background-color: #000000;
  border-radius: 1rem;
  margin: 1rem;
}
#panel li img:hover {
  opacity: 35%;
  box-shadow: 1rem 1rem 1rem 1rem #ffffff inset;
}
#panel li:hover:before {
  visibility: visible;
}
ol {
  counter-reset: item;
  padding-left: 0;
}
#panel li::before {
  content: "Projeto feito utilizando\A HTML/CSS/JS.\A Ver no Github pages.";
  white-space: pre;
  position: absolute;
  visibility: hidden;
  text-align: center;
  padding: 1.5rem;
  z-index: 0;
  line-height: 1.5;
}
#panel li::after {
  background-color: #000000aa;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  padding-top: 1rem;
  border-radius: 0 0 1rem 1rem;
  content: "Projeto " counters(item, ".");
  counter-increment: item;
  position: absolute;
  bottom: 0;
}

.p-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#panel {
  min-width: 0;
  overflow-x: hidden;
  padding-bottom: 0.5rem;
}
#panel:hover {
  padding-bottom: 0;
  overflow-x: scroll;
}
#panel::-webkit-scrollbar {
  background-color: #dddddd;
  height: 0.5rem;
}
::-webkit-scrollbar {
  background-color: #ffffff;
  width: 0.5rem;
  border-radius: 0.5rem;
  padding: 1px;
}
::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0 0 4px #000000;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}

#projetos div.container {
  display: grid;
}
.botao-mais {
  margin: 2rem auto;
  padding: 1.4rem 2rem;
  border: none;
  border-radius: 1rem;
  background: var(--lg-prp-2);
  font-size: 1.5rem;
  font-weight: bold;
  color: #eeeeee;
}
.botao-mais:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

.agradecimentos {
  margin: 2rem auto;
  background: var(--lg-prp-2);
  border-radius: 1rem;
  max-width: 50ch;
}
.agradecimentos p {
  max-width: 43ch;
}
.agradecimentos summary {
  padding: 1.4rem 2rem;
}
details p {
  padding: 1rem 1.5rem 1.5rem;
  text-align: center;
}
details p::before {
  display: block;
  content: "";
  position: relative;
  top: -1.5rem;
  width: 100%;
  height: 2px;
  background-color: #961ee7;
}
.agradecimentos:hover {
  box-shadow: 0 0 0 2px #aaaaaa;
}

@media (max-width: 700px) {
  .rev {
    flex-wrap: wrap-reverse;
  }
  .info {
    max-width: 100%;
    text-align: center;
  }
  .info h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .info p {
    margin-top: 1rem;
    max-width: 50ch;
    font-size: 1rem;
  }
  .perfil {
    max-width: 200px;
    max-height: 200px;
  }
  .socials-container {
    display: grid;
  }
  .socials {
    margin: 1rem auto;
  }
}
