body {
  font-family: Arial, Helvetica, sans-serif;
  color: #eeeeee;
  background: linear-gradient(135deg, #0a0412, #961ee7);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

summary {
  list-style: none;
}

.backplate {
  display: grid;
  /* background-color: blueviolet; */
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.c-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .container {
  margin: 3rem auto;
}

.info {
  max-width: 50%;
}
.info p {
  margin-top: 1rem;
  max-width: 50ch;
}

.perfil {
  border-radius: 50%;
  background-color: aquamarine;
}

.caption {
  text-align: center;
}

.socials {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.socials img {
  height: 3rem;
}

#projetos {
  padding-bottom: 2rem;
}
.projetos-titulo {
  background-color: rgb(100, 25, 170);
  margin: 3rem auto;
  padding: 1.4rem 2rem;
  border-radius: 1rem;
}
#projetos img {
  max-width: 220px;
  border-radius: 1rem;
}
.p-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.agradecimentos {
  margin: 2rem auto;
  background-color: rgb(100, 25, 170);
  border-radius: 1rem;
  max-width: 52ch;
}
.agradecimentos summary {
  padding: 1.4rem 2rem;
}
details p {
  margin-top: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}
details p::before {
  content: "";
}
